<div class="container">
        <h2 data-id="{{id}}" class="gametext center">{{user}}</h2>
        <div class="row">
            <div class="col l4 offset-l2 m12 s12">
                <p class="gametext">Owned Games</p>
                <ul class="grey lighten-1">

                    {{#each game}}
                    {{#if this.owned}}
                    <li class="grey lighten-1">
                        {{this.name}}<a data-id="{{this.id}}" class="delete right waves-effect waves-red btn-flat delete">DELETE</a>
                    </li><br>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
            <div class="col l4 m12 s12">
                <p class="gametext">Requested Games</p>
                <ul class="grey">
                    {{#each game}}
                    {{#unless this.owned}}
                    <li class="grey">
                        {{this.name}}<a data-id="{{this.id}}" class="delete right waves-effect waves-red btn-flat delete">DELETE</a>
                    </li><br>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <br><br>
        <div class="row">
            <p class="gametext">submit new game</p>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Game Name">
            </div>
            <div><button class="Search nudge waves-effect waves-red btn-flat white">Search</button></div>
        </div>
        {{#if searched}}
        <div class="row">
            <div class="input-field col s3">
                <select>
                    <option value="" disabled selected>Requested or Owned?</option>
                    <option id="owned" data-owned="owned">Owned</option>
                    <option id="requested" data-owned="requested">Requested</option>
                </select>
            </div>
            <div class="input-field col s3">
                <select>
                    <option value="" disabled selected>games</option>
                    {{#each result}}
                    <option data-name="{{this.name}}" data-time="{{this.time}}" data-players="{{this.players}}" id="data">{{this.name}} - {{this.players}}</option>
                    {{/each}}
                </select>
            </div>
            <div><button class="send nudge waves-effect waves-red btn-flat white">submit</button></div>
        </div>
        {{/if}}
    </div>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
    <script src="js/members.js"></script>
